{% extends 'base.html.twig' %}

{% block body %}

<h2>{{ title }}</h2>

{{ form_start(form) }}
{{ form_widget(form) }} <button class="btn btn-success mt-2">Valider</button>
{{ form_end(form) }}

{% endblock %}
